div{
    background-color:rebeccapurple;
    color:black;
    div{
        background-color:white;
    }
}
header{
    display:flex;
    justify-content: space-evenly;
    background-color:rebeccapurple;
    font-size:4vw;
    border-bottom: purple 4px solid;
}
a{
    text-decoration: none;
    color:gold;
    padding:1.5%;
    font-family:'pokemon';
}
a:hover{
    text-decoration: none;
    color:red;
    background-color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mainGrid{
    display:grid;
    grid-template-columns:33% 33% 33%;
    grid-template-rows:45% 45% 10%;
    justify-items:space-evenly;
    background-color:rebeccapurple;
    height:40vw;

}
.pokeWindow{
    width:60%;
    height:110%;
    grid-column:2/3;
    grid-row:1/2;
    justify-self:center;
    border:6px gold solid;
    background-image: url(../images/charizrd.png);
    background-size: 100%;
    margin-top:5%;
}
.pokeWindow:hover{
    background-image: url(../images/megacharizrd.jpg);
    padding-right:10%;
    background-size: cover;
    border:6px black solid;
    background-color:red;
}
.charizrdPic{
    width:90%;
}
.textBox{
    justify-self:center;
    justify-content:center;
    align-self:center;
    grid-column:2/3;
    grid-row:2/3;
    width:60%;
    padding:2.5%;
    margin-top:5%;
    background-color:rebeccapurple;
    border: 2px purple solid;
    color:gold;
    font-size:90%;
}
.textBox:hover{
    color:red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:black;
}
p{
    color:thistle;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
h1{
    color:goldenrod;
}
li{
    color: gold;
}